* text=auto
*.sh text eol=lf
Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
README.md whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
application/** whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
public/** whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
templates/** whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
vendor/** whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
auto_install.json whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
change.php whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
iis.rewrite whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
nginx.rewrite whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
install/** whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
