<?php include $tplBase.'/common/header.html';?>
<main class="tokyo-main tokyo-page">
    <section class="tokyo-shell">
        <section class="tokyo-query-layout">
            <div class="panel tokyo-query-panel">
                <div class="panel-header">
                    <div class="tokyo-index-heading-copy">
                        <span class="panel-kicker">Secure Password Query</span>
                        <h2 class="panel-title">安全密码查询</h2>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tokyo-query-tabs">
                        <a href="/product/query/?zlkbmethod=cookie">浏览器缓存</a>
                        <a href="/product/query/?zlkbmethod=orderid">订单号查询</a>
                        <span>安全密码查询</span>
                    </div>
                    <p class="tokyo-query-hint">通过购买时填写的邮箱和安全密码查询订单。</p>
                    <form class="tokyo-query-form" id="contact-query-form" action="/product/query/ajax/" method="POST">
                        <input type="hidden" name="csrf_token" value="<?php echo $csrf_token;?>">
                        <input type="hidden" name="zlkbmethod" value="contact">
                        <div class="tokyo-form-group">
                            <?php if(isset($config['orderinputtype']) AND $config['orderinputtype']=='2'):?>
                            <label class="tokyo-form-label">QQ</label>
                            <input type="text" class="tokyo-form-input" name="qq" placeholder="请输入QQ号码" required>
                            <?php else:?>
                            <label class="tokyo-form-label">邮箱</label>
                            <input type="email" class="tokyo-form-input" name="email" placeholder="请输入邮箱地址" required>
                            <?php endif;?>
                        </div>
                        <div class="tokyo-form-group">
                            <label class="tokyo-form-label">安全密码</label>
                            <input type="password" class="tokyo-form-input" name="chapwd" autocomplete="new-password" data-lpignore="true" data-1p-ignore="true" data-bwignore="true" readonly onfocus="this.removeAttribute('readonly');" placeholder="请输入安全密码" required>
                        </div>
                        <?php if(isset($config['yzmswitch']) AND $config['yzmswitch']>0):?>
                        <div class="tokyo-form-group">
                            <label class="tokyo-form-label">图形验证</label>
                            <input type="text" class="tokyo-form-input" name="vercode" placeholder="请输入验证码" required>
                            <img src="/Captcha?t=productquery" alt="图片验证码" height="36" class="loadcode">
                        </div>
                        <?php endif;?>
                        <button type="submit" class="tokyo-button tokyo-button-dark">
                            <i class="fa-solid fa-magnifying-glass"></i> 查询
                        </button>
                    </form>
                    <div id="tokyo-query-result" class="tokyo-query-result" hidden></div>
                    <?php if(isset($msg) AND strlen($msg)>0):?>
                    <div class="tokyo-alert tokyo-alert-error"><?php echo $msg;?></div>
                    <?php endif;?>
                </div>
            </div>
        </section>
    </section>
</main>
<script src="/templates/tokyo/js/productquery.js?v=<?php echo VERSION;?>"></script>
<?php include $tplBase.'/common/footer.html';?>
