<?php include $tplBase.'/common/header.html';?>
<main class="tokyo-main tokyo-page">
    <section class="tokyo-shell">
        <section class="tokyo-about-layout">
            <div class="panel tokyo-about-panel">
                <div class="panel-header">
                    <div class="tokyo-index-heading-copy">
                        <span class="panel-kicker">About Us</span>
                        <h2 class="panel-title">关于我们</h2>
                    </div>
                </div>
                <div class="panel-body tokyo-about-body">
                    <div class="tokyo-about-content">
                        <h3><?php echo $config['webname'];?></h3>
                        <p><?php echo $config['webdescription'];?></p>
                        <hr>
                        <h4>服务说明</h4>
                        <ul>
                            <li><i class="fa-solid fa-check"></i> 自动发货，24小时在线</li>
                            <li><i class="fa-solid fa-check"></i> 安全可靠的交易平台</li>
                            <li><i class="fa-solid fa-check"></i> 多种支付方式支持</li>
                            <li><i class="fa-solid fa-check"></i> 完善的售后服务</li>
                        </ul>
                        <hr>
                        <h4>联系我们</h4>
                        <p>如有问题，请通过订单查询页面联系我们。</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
<?php include $tplBase.'/common/footer.html';?>
