    </main>
    <footer class="tokyo-admin-footer">
        <p>Powered by <a href="https://github.com/abai569/flox-zfaka" target="_blank" rel="noopener">ZFAKA <?php echo VERSION;?></a></p>
    </footer>
</div>
<script src="/res/layui/layui.js"></script>
<script>
layui.config({
    version: "<?php echo VERSION;?>.20260807.1",
    base: '/res/mods/'
}).use('common');
layui.use('element', function() {
    var element = layui.element;
});

(function() {
    var currentPath = window.location.pathname.replace(/\/+$/, '');
    var links = document.querySelectorAll('.tokyo-admin-sidebar-link');
    var activeLink = null;
    var activeLength = -1;

    for (var i = 0; i < links.length; i++) {
        links[i].classList.remove('is-active');
        var linkPath = new URL(links[i].href, window.location.origin).pathname.replace(/\/+$/, '');
        var matches = currentPath === linkPath || currentPath.indexOf(linkPath + '/') === 0;
        if (matches && linkPath.length > activeLength) {
            activeLink = links[i];
            activeLength = linkPath.length;
        }
    }

    if (activeLink) activeLink.classList.add('is-active');
})();
</script>
</body>
</html>
